@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: auto !important;
}

.alert-success {
  background-color: oklch(from oklch(var(--su)) 1 0.13 h);
}

.alert-info {
  background-color: oklch(from oklch(var(--in)) 1 0.13 h);
}

.alert-warning {
  background-color: oklch(from oklch(var(--wa)) 1 0.13 h);
}

.alert-error {
  background-color: oklch(from oklch(var(--er)) 1 0.13 h);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
